#message {
	border-radius: 10px;
	padding: 10px;
	margin: 1px;
}

.right {
	align-self: flex-end;

	#message {
		background-color: skyblue;
		margin-right: 10px;
	}
}

.left {
	align-self: flex-start;

	#message {
		background-color: gainsboro;
	}
}

.entry-message-container {
	text-align: left;

	textarea {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		resize: none;
		overflow: hidden;
		height: 40px;
	}
}

#message-list {
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
}
